.App {
  text-align: center;
}

.content{

  padding-bottom: 100px; 
  height: 100vh;
  padding-top: 75px;
  
}

html,body{

height: 100%;

}

.page-content{

  position: relative;
  min-height:100vh;  
}

.App-link {
  color: #61dafb;
}

